<body>
    <div class="card-content">
        <div class="info">
            <span class="name">{{contacto.Name}} {{contacto.LastName}} ({{contacto.Alias}})</span>
            <span class="phone">{{contacto.CelularNumber}}</span>
            <span class="email">{{contacto.Email}}</span>
        </div>
            
        <div class="interaction">
            <input class="editar" type="image" src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png">
            <input class="eliminar" [routerLink] = "['/deletecontact']"type="image" src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png">
        </div>
        </div>
    </body>
