.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    border: 5px;
}

.info{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 15px;
    color: #333;
}

.info .name{
    font-size: 25px;
    font-weight: 600;
    color: black;
}
.mas{
    cursor:pointer;
    color:black;
}
.mas:hover{
    color: #7C88FF;
}

.info {
    font-size: 17px;
    font-weight: 600;
    opacity: 0.7;
}
.info span{
    padding: 3px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.interaction{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 5px;
}

.interaction input{
    background: white;
    width: 20px;
    height: 20px;
    outline: none;
    border: 5px solid #E3E5F9;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
  
.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}
  
.modal-window > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #c1c6ff;
    color: white;
}
  
.modal-window header {
    font-weight: bold;
}
  
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
  
.modal-close:hover {
    color: white;
}
  
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}