.letras-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}
  
.letras{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#c1c6ff;
    color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 37px;
}

.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEFF0;
    width: 470px;
    height: auto;
    border-radius: 20px;
    color: black;
    margin: auto;
    padding:0;
}
.top{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid silver;
}

.edit img{
    width: 27px;
    height: 27px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
.grupo img{
    width: 27px;
    height: 27px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 10px;
}
h2{
    margin-left: 10px;
    font-size: 25px;
}
.eliminar{
    height: 27px;
    width: 27px;
    margin-top: 20px;
    margin-right: 30px;
}


.nombre{
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 25px;
}

.alias{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    opacity: 0.7;
}  
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.mas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 13px 0;
    font-size: 20px;
    margin-bottom: 3px;
}
.fin{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 13px 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.info{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 15px;
    color: black;
    font-weight: 600;
    opacity: 0.7;
}



