<div class="letras-container">
  <div class="letras">
    {{getinitials() | uppercase}}
  </div>
  <div class="nombre">
    <h1>{{contact.name}} {{contact.lastName}}</h1>
  </div>
</div>


<div class="card">
  <div class="top">
    <h2>Informacion de contacto</h2>
    <a class="edit" [routerLink]="['/edit-contact', contact.id]"><img src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png"
        alt="edit"></a>
    <a  class="grupo" [routerLink]="['/choosegroup', contact.id]"><img src="https://cdn-icons-png.flaticon.com/512/47/47768.png"
        alt="grupo"></a>
    <input class="eliminar" type="image" src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png"
      (click)="deleteContact(contact.id!)">
  </div>


  <div class="info">
    <div class="alias">Alias: {{contact.alias}}</div>
    <div class="mas">Numero: {{contact.celularNumber}}</div>
    <div class="mas">Telefono: {{contact.telephoneNumber}}</div>
    <div class="fin">Email: {{contact.email}}</div>
  </div>
</div>