<body> 
    <div id = "agregar">
        <img id= "usuario" src="https://cdn-icons-png.flaticon.com/512/456/456212.png">
        <h5>Agregar Imagen</h5>
    
        <form id="agregar-form">
            <p>
                <input type="text" id="nombre" name="Nombre" placeholder="Name" required="">
            </p>
            <p>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido">
            </p>
            <p>
                <input type="text" id="alias" name="alias" placeholder="Alias">
            </p>
            <p>
                <input type="text" id="celular" name="celular" placeholder="Celular" required>
            </p>
            <p>
                <input type="text" id="telefono" name="telefono" placeholder="Telefono">
            </p>
            <p>
                <input type="text" id="email" name="email" placeholder="Email">
            </p>
            <p class="botones">
                <button class="submit" type="submit">Agregar Contacto</button>
                <button class="submit"type="submit">Cancelar</button>
            </p>
        </form>
    </div>
</body>
