<body>
  <nav>
       <div class="nombre">
          <h1>Agenda de Contactos</h1>
          <img src="https://www.nicepng.com/png/full/115-1153942_white-home-icon-png-white-home-logo-transparent.png">
      </div>
       <div class="search-box">
          <input type="search" placeholder="Buscar">
       </div>
       <ol>
          <li><a >Cerrar Sesion</a></li>    
      </ol>
  </nav>

<main>
  
  <div class="card-content">
    <div class="info">
        <span class="name">Lucas Jarez</span>
        <span class="phone"> Celular: 341546897</span>
    </div>
</div>
</main>
<footer>
  <div id="agregar">
      <button class="boton" type="button">Agregar Contacto</button>
      <button class="boton" type="button">Ver Grupos</button>
  </div>
</footer>
</body>