<body>
    <img routerLink="/" src="./assets/images/arrow_back.png" alt="arrow_back">
    <div class="agenda"><strong>Agenda de Contactos</strong></div>
    <div class="formulario">
        <h1>Registrarse</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de Usuario</label>
            </div>
            <div class="contraseña">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <input class= "submit" [routerLink] = "['/contacts']" type="submit" value="Registarse">
            <div class="bottom"></div>
        </form>
    </div>
</body>