
<nav>
     <div class="nombre">
      <h1>Agenda de Contactos</h1>
      <img [routerLink]="['/contacts']" src="https://www.nicepng.com/png/full/115-1153942_white-home-icon-png-white-home-logo-transparent.png">
   </div>
     <div class="search-box">
        <input type="search" placeholder="Buscar">
     </div>
     <ol>
        <li><a (click)="logOut()">Cerrar Sesion</a></li>    
    </ol>
</nav>

<main>
<app-group-card *ngFor="let grupo of grupos" [groups]="grupo"></app-group-card>
</main>

<div id="agregar"><button [routerLink] = "['/creategroup']" class="boton" type="button">Crear Grupo</button></div>











