#container{
    background-color: #E3E5F9;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw; 
    display: inline-block;
    position: fixed;
    margin: -8px;
}

h1{
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    position: fixed;
    top: 10%;
    left: 25.5%;

}

#iniciar{
    background-color: #7C88FF;
    width: 300px;
    height: 80px;
    color: #FFFFFF;
    font-family: Rubik;
    position: fixed;
    top: 35%;
    left: 40%;
    font-size: 45px;
    border-radius: 15px;
    border: none;
}

#registrar:hover{
    background-color: #ECF4F7;
    color: #7C88FF;
    transition: 300ms; 
}
#iniciar:hover{
    background-color: #ECF4F7;
    color: #7C88FF;
    transition: 300ms; 
}


#abajo{
    position: fixed;
    bottom: 0px;
    background-color: #FFFFFF;
    width: 1600px;
    height: 80px;
    text-align: center;
    }