// body{
//     padding: 0;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//     background-color: #E3E5F9;
//     height: 100vh;
// }
.agenda{
    font-size: 70px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

.formulario .username{
    position: relative;
    border-bottom: 2px solid #E3E5F9;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username ::placeholder{
    position: absolute;
    top:50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username span::before{
    content: "";
    position: absolute;
    top: 40px;
    left:0;
    width: 100%;
    height: 2px;
    background: #000;
}


.formulario .contrase単a{
    position: relative;
    border-bottom: 2px solid #E3E5F9;
    margin: 30px 0;
}
.contrase単a input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contrase単a span::before{
    content: "";
    position: absolute;
    top: 40px;
    left:0;
    width: 100%;
    height: 2px;
    background: #000;
}


.contrase単a ::placeholder{
    position: absolute;
    top:50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: #7C88FF;
    cursor: pointer;
    text-align: center;
}
.recordar:hover{
    text-decoration: underline;
}

.submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #7C88FF;
    font-size:28px;
    color:#fff;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}
.submit:hover{
    border-color: #fff;
    transition: .5s;
    background-color: #fff;
    color: #7C88FF;
    transition: 250ms;
}
@media screen and (max-width:670px) {
    .agenda{
        font-size: 70px;
        display: flex;
        align-items:center;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        padding: 0 0 0px 0;
        border-bottom: 1px solid silver;
    }
    .formulario{
        margin-top: 60px;
    }
}