
<body>
    <div class="agenda"><strong>Agenda de Contactos</strong></div>
    <div class="formulario">
        <h1>Inicio de sesion</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de Usuario</label>
            </div>
            <div class="contraseña">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">Olvide mi contraseña</div>
            <input class= "submit" [routerLink] = "['/contacts']" type="submit" value="Iniciar Sesion">
            <div class="bottom"></div>
        </form>
    </div>
</body>
