<!-- <img id="arrow_back" routerLink="/" src="./assets/images/arrow_back.png" alt="arrow_back"> -->
  <div class = "agenda"><strong>Agenda de Contactos</strong></div>
  
  <div class="formulario">
    <h1>Inicio Sesion de Usuario</h1>
  
    <form (ngSubmit)="login(form)" #form="ngForm">
    
      <div class="username">
        <input type="text" name="username" placeholder="Nombre de Usuario"
        [(ngModel)]="authData.UserName" [required]="true" #userName="ngModel">
    </div>
    
    <div class="contraseña">
      <input type="password" name="contraseña" autocomplete="current-password" placeholder="Contraseña"
        [(ngModel)]="authData.Password" [required]="true" [minlength]="6" #password="ngModel">
    </div>
    <div class="recordar">Olvide mi contraseña</div>
    
    <div *ngIf="password.touched && password.errors">La contraseña debe tener al menos 6 caracteres.</div>
      <button class= "submit" type="submit">Iniciar Sesion</button>
  </form>
</div>
