<body>
    <div class="formulario">
    <h1>Grupos</h1>
    <p>Selecciona el grupo al cual quieres agregar el contacto</p>
    <form class="grupos" action="/action_page.php">
      <label for="groupData">Elegi un grupo:</label>
      <select name="grupo" class="option">
        <option value="GroupId"></option>
        <option value="2">Amigos</option>
        <option value="3">Familia</option>
        <option value="4">Facultad</option>
      </select>
      <div class="submit">
        <input class="boton" type="submit" value="Submit">
        <input class="boton" type="submit" value="Cancelar">
        </div>
    </form>
</div>
    </body>