body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #E3E5F9;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

h1{
    font-size: 80px;
}

.ir{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    width: 140%;
    height: 100%;
    background-color: #7C88FF;
    font-size: 50px;
    color: #ECF4F7;
    border-radius: 30px;
    cursor: pointer;
    margin: 0.2em;
    border:none;
}

.submit:hover{
    background-color: #ECF4F7;
    color: #7C88FF;
    transition: 100ms; 
}

@media screen and (max-width:800px){
    .ir{
        display: block;
        padding:0
    }
    .ir .submit{
        display: inline-block;
        padding: 15px 30px
    }
    .ir .submit{
        width:100%;
        display: inline-flex;
        justify-content: center ;
        margin-bottom: 15px;
        align-items: center;
        width: 90%;
        height: 40%;
    }
    .ir .submit{
        display: flex;
        flex-direction: column;
    } 
    #inicio h1{
        font-size: 50px;
        align-items: center;
        display:flex;
        justify-content: center;
    }
}