<div id="container">
    <h1>Contactos</h1>
    <button>Registrarse/Iniciar Sesion</button>
    <input type="search" name = "Buscar" placeholder= "Buscar">
    
    <div id="contactos">
        <img src="https://i.pinimg.com/736x/b3/b8/57/b3b85713a822ad3e2c5e1eb74af91554.jpg"/>
        <h2>Nombre de contacto
            <img id = "puntos" src="https://cdn-icons-png.flaticon.com/512/61/61140.png" />
        </h2>
        <p>
            Numero: 341-6987456 
        </p>    
    </div>

    <div id="agregar">
        <h5>Agregar</h5>
    </div>
    <div id = "circulo"></div>
</div>



