// body {
//     font-size: 1rem;
// }

// h5{
//     font-size: 40px;
//     margin:20px;
//     text-align: center;
// }
// #agregar {
//     background-color: #ffff;
//     margin: 80px auto;
//     width: 35%;
//     text-align: center;
//     padding: 2px 0 0 0;
//     border-radius: 4px;
//     box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
// }
  
// #agregar-form {
//     padding: 0px 50px;
//     height: auto;
// }
  
// #agregar-form input {
//     display: block;
//     box-sizing: border-box;
//     width: 100%;
//     outline: none;
//     margin-bottom: 10px;
//     height: 60px;
//     line-height: 60px;
//     border-radius: 4px;
// }
  
// input[type="text"] {
//     width: 100%;
//     padding: 0 0 0 10px;
//     margin: 0;
//     border: 1px solid #7C88FF;
//     font-size: 16px;
//     position: relative;
//     display: inline-block;
//     background: none;
// }

// .botones{
//     display: flex;
//     flex-direction: row;

// }
// #agregar-form .submit {
//     width: 80%;
//     height: 50px;
//     border: 1px none;
//     margin: 5px;
//     background: #7C88FF;
//     font-size :20px;
//     color:#fff;
//     border-radius: 25px;
//     cursor: pointer;
//     text-align: center;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 15px;

// }
// #agregar-form .submit:hover{
//     border: 1px solid #7C88FF;
//     transition: .5s;
//     background-color: #fff;
//     color: #7C88FF;
//     transition: 250ms;
// }
// @media screen and (max-width:1000px){
//     #agregar{
//         display:block;
//         width: 70%;
//     }
//     form{
//         display: block;
//         padding:0
//     }
// }

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 5px;
    
}
.edit-box {
    width: 400px;
    height: auto;
    color: #7C88FF;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    margin-top:15px;
  }

.edit-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: -20px;
}

.edit-box input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid silver;
    border-radius: 8px;
    outline: none;
    height: 45px;
    font-size: 16px;
    padding: 0px 11px;
}

.btn-edit {
    border: none;
    outline: none;
    background-color: #7C88FF;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 16px;
    width: 40%;
    cursor: pointer;
    margin-top:5px;
}
.btn-edit:hover{
    background-color: #c1c6ff;
    color:white;
}

.btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}