<body>
<div class="main">
        <div class="edit-box">
            <h1>Editar Contacto</h1>
    
        <form #editForm="ngForm" (ngSubmit)="editForm.valid && editContact(editForm)">
          <input type="text" value="{{id}}" [hidden]="true" name="id" [(ngModel)]="contact.id" #id="ngModel">
            
        <label class="name" for="name">Nombre</label>
        <input value="{{contact.name}}" type="text" name="name" id="name" placeholder="Name" required [(ngModel)]="contact.name" #name="ngModel"/>
        
        <label class="alias" for="alias">Alias</label>
        <input type="text" name="alias" id="alias" placeholder="Alias" [(ngModel)]="contact.alias" #alias="ngModel"/>
    
    
        <label class="cellPhoneNumber" for="cellphonenumber">Numero de celular</label>
        <input value="{{contact.celularNumber}}" type="number" name="celularNumber" id="celularNumber" placeholder="Numero de celular" required [(ngModel)]="contact.celularNumber" #celularNumber="ngModel"/>
    
    
        <label class="telephoneNumber" for="telephoneNumber">Numero de telefono</label>
        <input type="number" name="telephoneNumber" id="telephoneNumber" placeholder="Numero de telefono" [(ngModel)]="contact.telephoneNumber" #telephoneNumer="ngModel"/>
        
        <label class="email" for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" [(ngModel)]="contact.email" #email="ngModel"/>
    

    <div class="btn-container">
        <button class="btn-edit" type="submit" value="edit">Editar</button>
        <button class="btn-edit" [routerLink]="['/contacts']">Cancelar</button>
    </div>
    
    </form>
    </div>
</div>
</body>

