body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-box {
    width: 400px;
    height: 620px;
    color: #7C88FF;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    margin-top:15px;
  }

.edit-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: -20px;
}

.edit-box label{
    margin: 0;
    padding: 5px 2px;
    display: block;
    font-size: 15px;
}
  
  
.edit-box input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 8px;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.btn-edit {
    border: none;
    outline: none;
    background-color: #7C88FF;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 16px;
    width: 40%;
    margin: 20px 0;
    cursor: pointer;
    touch-action: manipulation;
    margin-top:5px;
}
.btn-edit:hover{
    background-color: #c1c6ff;
    color:white;
}

.btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}