#container{
    display: flex;
    background-color: #c1c6ff;
    border-radius: 10px;
    text-align: center;
    line-height: 0.3;
    top: 20%;
    left: 2%;
    cursor: pointer;
}

.container:hover{
    background-color:#7C88FF ;
    color: #ECF4F7;
    transition: 300ms; 
}

p{
    text-indent: 10px;
}