body{
    overflow-y: auto;
    width: 100%; 
}

#agregar{
    position:fixed;
    bottom: 0px;
    background-color: #FFFFFF;
    width:-webkit-fill-available;;
    height: 50px;
    text-align: center;
}

#agregar :hover{
    border: 1px solid #7C88FF;
    transition: .5s;
    background-color: #fff;
    color: #7C88FF;
    transition: 250ms;
}
.boton{
    background-color: #7C88FF;
    border: none;
    color: white;
    padding: 12px 35px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


