/* You can add global styles to this file, and also import other style files */
body{
    background-color: #E3E5F9;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
