.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    border: 5px;
}

.info{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 15px;
    color: #333;
}

.info .name{
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.info {
    font-size: 17px;
    font-weight: 600;
    opacity: 0.7;
}
.info span{
    padding: 3px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.interaction{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 5px;
}

.interaction input{
    background: white;
    width: 20px;
    height: 20px;
    outline: none;
    border: 5px solid #E3E5F9;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.vm{
    cursor:pointer;
    color: #7C88FF
}
.vm:hover{
    color:black
}
