<div class="main">
    <div class="letras-container">
      <div class="letras">
        {{getinitials() | uppercase}}
      </div>
    </div>

<div class="title">
    <div class="nombre"><strong>{{group.groupName}}</strong></div>
</div>
    <div class="card">

        <div class="texto">
            <h2>Informacion del grupo</h2>
        </div>

        <div class="info">
            <div class="mas">Descripcion: {{group.description}}</div>
            <label><strong>Contactos: </strong></label>
            <div class="for" *ngFor="let contactos of group.contacts">Nombre: {{contactos?.name}},
                {{contactos.lastName}}</div>
        </div>
    </div>
